<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZJLScalableTableViewControllerExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CAFF77321D0A1AE4003DBAB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAFF774B1D0A1AE4003DBAB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAFF77561D0A1AE4003DBAB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
